@charset "utf-8";

body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,select,textarea,p,
blockquote,table,th,td {
  margin:0;
  padding:0;
  vertical-align: baseline;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  font-size:1em;
}

fieldset,img {
  border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}

ol,ul {
  list-style:none;
}

caption,th {
  text-align:left;
}

h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}

/*q:before,q:after {
  content:'';
}*/

abbr,acronym {
  border:0;
}

img, a {
  text-decoration: none;
  vertical-align:top;
}


strong {
  font-weight:bold;
}
hr {
  margin:10px 0;
  padding:0;
  border-top:1px solid #cccccc;
}

.right{
	float:right;
}
.left{
	float:left;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
}
