@charset "utf-8";

body{
	background: #FFF;
	color: #4C4C4C;
	font-size: 13px;
	line-height: 1.7em;
	font-family: "小塚ゴシック Std R","Lucida Grande",Verdana,Arial,メイリオ,"ヒラギノ角ゴ Pro W3",メイリオ,"ＭＳ Ｐゴシック";
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

a:link,a:visited{
	color:#4C4C4C;
	text-decoration: none;
}
a:hover,a:active{
	text-decoration: underline;
}
textarea{
	font-size: 13px;
	font-family: sans-serif;
}
div#content div.section{
	margin: 0 0 50px;
}
div#content p{
	text-align: justify;
	margin: 0 0 1em;
}
div#content div.section div.sectionInner{
	padding: 0 14px;
}
table.tp01{
	width: 100%;
}
table.tp01 th{
	font-weight: bold;
	padding: 10px;
	padding-left: 0;
	border-bottom: 1px solid #DDD;
}
table.tp01 td{
	border-bottom: 1px solid #DDD;
	padding: 10px;
	padding-right: 0;
}
/******************************************************/
/* HX    */
/******************************************************/

h1.logo{
	width: 176px;
	float: left;
}

div.h2Sec{
	padding: 15px 20px;
	border:1px solid #CCC;
	border-bottom: none;
	border-top: none;
}
div.h2SecWrapper{
	border-top: 4px solid #0094D9;
	margin: 0 0 30px;
	padding: 0 0 8px;
	background: url("/images/common/bg_shadow.gif") 0 100% repeat-x;
}
div.h2Sec h2{
	font-size: 26px;
	line-height: 1.3em;
	letter-spacing: 2px;
}
div.article.single div.h2Sec h2{
	font-size: 20px;
	margin: 5px 0 0;
}

div#content div.section h3{
	height: 48px;
	margin: 0 0 10px;
	padding: 16px 0 0 28px;
	font-size: 18px;
	line-height: 1em;
	background: url("/images/common/bg_subtitle.gif") 0 0 no-repeat;
}

div.contentBlock h2{
	margin: 0 0 15px;
}


div#container{
	text-align: center;
}
div#header{
	padding: 0 0 10px;
	text-align: left;
	background: url("/images/common/shadow.gif") 0 100% repeat-x;
}
div#pnavArea{
	background: url("/images/common/bg_pnav.gif") 0 0 repeat-x;
}
div#pnavArea a{
	color: #FFF;
}
div#pnavAreaInner{
	width: 900px;
	margin: 0 auto;
	padding: 10px 0;
}
div#pnavArea ul#pnav{
	float: right;
	font-size: 11px;
	line-height: 1em;
}
div#pnavArea ul#pnav li{
	float: left;
	margin: 0 0 0 15px;
}
div#pnavArea ul#pnav li a{
	padding: 0 0 0 12px;
	background: url("/images/common/icn_arrow_2.png") 0 50% no-repeat;
}
div#gnavArea{
	width: 900px;
	margin: 0 auto;
	padding: 13px 0 18px;
}
div#gnavAreaWrapper{
	border-bottom: 2px solid #0095D8;
}
ul#gnav{
	float: right;
	width: 680px;
	margin: 10px 0 0;
}
ul#gnav li{
	float: left;
}
ul#gnav li a{
	width: 136px;
	height: 40px;
	display: block;
	background: url("/images/common/gnavi_kanazawa_shouko.gif") 0 0 no-repeat;
	text-indent: -9999px;
	outline: none;
}
ul#gnav li a.kngn_01{
}
ul#gnav li a.kngn_02{
	background-position: -136px 0;
}
ul#gnav li a.kngn_03{
	background-position: -272px 0;
}
ul#gnav li a.kngn_04{
	background-position: -408px 0;
}
ul#gnav li a.kngn_05{
	background-position: -544px 0;
}
ul#gnav li a.kngn_01:hover,
ul#gnav li a.kngn_01:active,
body.company ul#gnav li a.kngn_01{
	background-position: 0 -45px;
}
ul#gnav li a.kngn_02:hover,
ul#gnav li a.kngn_02:active,
body.service ul#gnav li a.kngn_02{
	background-position: -136px -45px;
}
ul#gnav li a.kngn_03:hover,
ul#gnav li a.kngn_03:active,
body.case ul#gnav li a.kngn_03{
	background-position: -272px -45px;
}
ul#gnav li a.kngn_04:hover,
ul#gnav li a.kngn_04:active{
	background-position: -408px -45px;
}
ul#gnav li a.kngn_05:hover,
ul#gnav li a.kngn_05:active,
body.contact ul#gnav li a.kngn_05{
	background-position: -544px -45px;
}

#subnavAreaWrapper{
	width:100%;
	background:#e3eef5;}
	
#subnavArea{
	width: 900px;
	margin: 0 auto;
	padding: 13px 0 }
	
#subnavArea li{
	float:left;
	padding:0 11px;}
	
#subnavArea li a{
	color:#757ca0;
	font-weight:bold;
	padding:3px 7px;
	text-shadow: 0 0 2px #fff;}
	
#subnavArea li a:hover{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-shadow:none;
	background:#39F;
	}
	
div#pankuzuArea{
	margin: -10px 0 0;
	padding: 15px 0 0;
}
ul#pankuzu{
	width: 900px;
	margin: 0 auto;
	text-align: left;
	line-height: 1em;
}
ul#pankuzu a:link,
ul#pankuzu a:visited{
	text-decoration: underline;
	color: #043787;
}
ul#pankuzu a:hover,
ul#pankuzu a:active{
	color: #043787;
	text-decoration: none;
}
ul#pankuzu li{
	float: left;
	font-size: 12px;
/* 	margin: 0 10px 0 0; */
}
ul#pankuzu li{
/*
	padding: 0 0 0 14px;
	background: url("/images/common/icn_arrow_pan.gif") 0 50% no-repeat;
*/
}
ul#pankuzu li span{
	margin: 0 7px 0;
	color: #043787;
	font-size: 11px;
}
ul#pankuzu li.firstChild{
	padding: 0;
	background: none;
}
div#mainArea{
	text-align: left;
	width: 900px;
	margin: 26px auto 0;
}
div#content{
	width: 635px;
	float: left;
}
body#page div#content {
	float: right;
}
div.contentBlock{
	margin: 0 0 30px;
	padding: 9px 0 0;
	background: url("/images/common/bg_content_block.gif") 0 0 no-repeat;
}
div.contentBlock a.blockLink img{
	margin: 0 0 7px;
	padding: 2px;
	border:1px solid #D1D1D1;
}
div.contentBlock a.blockLink span{
	font-size: 11px;
	line-height: 18px;
	display: block;
}
div.contentBlock div.titleArea{
	
}
div.contentBlock ul.more li a{
	padding: 0 0 0 13px;
	background: url("/images/common/icn_arrow_1.gif") 0 50% no-repeat;
	font-size: 10px;
}
div.contentBlock.half{
	width: 307px;
}
dl.dateList dt{
	color: #0095d8;
	font-weight: bold;
	width: 90px;
	margin: 0 10px 0 0;
	float: left;
}
dl.dateList dd{
	width: 535px;
	margin: 0 0 8px;
	float: left;
	text-align: justify;
}
div#sidebar{
	width: 222px;
	float: right;
}
body#page div#sidebar{
	float: left;
}
div#sidebar div.pageNavSec{
	margin: -15px 0 0;
}
div#sidebar ul.bnrList{
	background: #FFF;
	border:6px solid #CCC;
	border-bottom: 0;
}
div#sidebar ul.bnrList li{
	padding: 5px;
	border-bottom: 6px solid #CCC;
}
div#sidebar div.section{
	margin: 0 0 15px;
}
div.pageNavWrapper{
}

div.pageNavSec h3{
	font-weight: bold;
	background: url("/images/common/bg_pagetitle.gif") 0 0 no-repeat;
	margin: 0 0 5px;
	font-size: 15px;
}
div.pageNavSec a {
	border: none;
	display: block;
	padding: 14px 0 22px 24px;
	background-position: 5px 20px;
	background: url("/images/common/icn_arrow_1.gif") 7px 20px no-repeat;
}

ul.pageNav li.parent{
	font-weight: bold;
	border: none;
}
ul.pageNav li.parent a{
	border: none;
}
ul.pageNav li a{
	line-height: 1.2em;
	display: block;
	border-bottom:1px solid #DDD;
	padding: 15px 0 15px 28px;
	background: url("/images/common/icn_arrow_4.gif") 16px 18px no-repeat;
}
ul.pageNav a:link,
ul.pageNav a:visited{
	text-decoration: underline;
}
ul.pageNav a:hover,
ul.pageNav a:active{
	text-decoration: none;
}


ul.pageNav li.current_page_item{
	font-weight: bold;
	background: url("/images/common/bg_current.gif") 0 0 repeat-x;
}

ul.pageNav li.current_page_item a:visited,
ul.pageNav li.current_page_item a:link,
ul.pageNav li.current_page_item a:hover,
ul.pageNav li.current_page_item a:active{
	color: #4652A2;
	cursor: default;
	text-decoration: none;
}

ul.pageNav li.current_page_item ul.children li{
	font-weight: normal;
}
ul.pageNav li.current_page_item ul.children li a{
	color: inherit;
}


div#footer{
	margin: 50px 0 0;
	padding: 20px 0;
}
p.copyright{
	text-align: center;
}


*#tab li {
  float: left;
  padding: 5px 4px;
  list-style: none;
  cursor: pointer;
  color:#0095d8;
  margin-right:1px;
  margin-bottom:10px;
  background: #f2f0ee;
}
#tab li.select {
  background: #727171;
  color:#FFF;
}
*#tab li a { padding:0 2px;}
.disnon {
  display: none;
}
.content_wrap {
  clear: left;
  width: 640px;
  height: auto;
  font-size: 20px;
  text-align:left;
}

.content_wrap .item_area{
	overflow:hidden;
	margin-bottom:30px;}
	
.content_wrap .item_area .main_img {	border:4px solid #dcdedd; margin-bottom:15px;}
.content_wrap .item_area h5 {
	padding:0 0 0 8px;
	line-height:1.4em;
	color:#0071ad;
	border-left:7px solid #0071ad;
	font-size:15px;
	margin-bottom:10px;
}
.content_wrap .item_area ul { margin-bottom:20px; width:635px;}
.content_wrap .item_area li{
	width:180px;
	float:left;
	font-size:12px;
	margin-bottom:13px;
	margin-left:47px;
}
.content_wrap .item_area li:first-child,
.content_wrap .item_area li:nth-child(3n+1) { margin-left:0;}
.content_wrap .item_area li img {	border:solid 1px #B4B4B4;}
.content_wrap .item_area li:hover img {	border:solid 1px #DEDEDE;}
	
	

/******************************************************/
/*contents smarthouse    */
/******************************************************/

div.smart_wrapper{
	background:url("/images/pages/smart/h2_bg.jpg") no-repeat;
	width:640px;
	height:120px;
	margin-bottom:15px;}
	

div.smart_wrapper .smart_title{
	padding:20px;}

div.smart_wrapper .smart_title h2{
	font-size:25px;}
	
div.smart_wrapper .smart_title p{
	padding-top:15px;}


div#content div.section_smart{
	margin: 0 0 50px;
}

div#content div.section_smart h3{
	background:url("/images/pages/smart/title_bg.gif") no-repeat top left;
	width:640px;
	padding:10px 0;
	font-size:16px;
}

div#content div.section_smart .section_smart_inner{
	background:url("/images/pages/smart/bg_image.jpg") no-repeat bottom right;
	width:640px;}

div#content div.section_smart .section_smart_inner h4{
	margin-top:30px;}
	
	
/******************************************************/
/*contents sun   */
/******************************************************/	

p.ex_btn{
	background:url("/images/common/icn_arrow_5.jpg") no-repeat left;
	padding-left:12px;
	font-size:12px}
	
div#content div.section_sun{
	margin: 20px 0 0;
}

div#content div.section_sun table{
	border-collapse: collapse;}
	
	
div#content div.section_sun th{
	border:#727171 solid 1px;
	background:#f2f0ee;
	color:#0095d8;
	vertical-align:middle;
	text-align:center;}
	
div#content div.section_sun td{
	border:#727171 solid 1px;
	text-align:left;
	padding:15px;}
		
/******************************************************/
/*contents eco  */
/******************************************************/		


			

	
.w600px{
	width:600px;}
	
.ecoR{
	float:right;
	width:360px;}
	
.eco2R{
	float:right;
	width:360px;
	background:url("/images/pages/eco/point.jpg") no-repeat left top;}
	
.ecoR p,
.eco2R p{
	padding-left:50px;
	font-size:14px;}

	
.ecoR p.blue,
.eco2R p.blue{
	color:#0095d8;}
	
.ecoR p span.or,
.eco2R p span.or{
	color:#ea5810;}
	
.floor_bg{
	background:url("/images/pages/eco/floor.jpg") no-repeat right top;}
	
	
/******************************************************/
/*contents flow    */
/******************************************************/

.flow_area{
	width:600px;
	margin:10px auto;}
	
	
.flow_box{
	background:#a9cae8 url("/images/pages/flow/bg_top.gif") no-repeat top;
	width:600px;
	padding:20px 0 5px 0;}

	
.center{
	text-align:center;}	
	
.flow_content{
	width:420px;
	padding:10px 0 2px;
	background:#f0e9e4;}
	
	
.flow_box p,
.flow_content p{
	padding: 0 15px;}
	
div.section h4{
	
	background:url("/images/pages/smart/title_bg.gif") no-repeat top left;
	width:640px;
	padding:10px 0;
	font-size:20px;
	color:#0071ad
}


/******************************************************/
/*　取り扱いメーカー一覧  */
/******************************************************/



.maker_area{
	width:620px;
	margin: 0 auto 30px;
	padding-bottom:10px;
/*	border-bottom:1px solid #999;*/
}
	
.maker_area h5{
	margin-bottom:15px;
	font-weight:bold;}

.maker_area ul { margin-bottom:20px; width:626px;}
.maker_area li{
	width:180px;
	float:left;
	font-size:12px;
	margin-bottom:13px;
	margin-left:42px;
}
.maker_area li:first-child,
.maker_area li:nth-child(3n+1) { margin-left:0;}
.maker_area li img {	border:solid 1px #B4B4B4;}
.maker_area li:hover img {	border:solid 1px #DEDEDE;}

.table_anshin {
	width:650px;
	margin:30px 0;
}
.table_anshin th {
	width:250px;
	text-align:center;
}
.table_anshin th:first-child {	width:220px;}
.table_anshin td {
	padding-top:10px;
	font-size:9px;
	line-height:1.7em;
	text-align:center;
}
	


/******************************************************/
/* SITEMAPS    */
/******************************************************/
ul.sitemap{
	margin: -5px 0 0;
}
ul.sitemap li{
	margin: 5px 0 0;
	padding: 5px 0 0;
	border-top: 1px dotted #DDD;
}
ul.sitemap li a{
	padding: 0 0 0 18px;
	background: url("/images/common/icn_arrow_1.gif") 0 50% no-repeat;
}

ul.sitemap li ul li a{
	background: url("/images/common/icn_arrow_4.gif") 12px 50% no-repeat;
	padding-left: 25px;
}
ul.sitemap li ul li{
	padding-left: 10px;
}

/******************************************************/
/* NEWS    */
/******************************************************/
/*pagenav*/
div.wp-pagenavi{
	margin: 20px 0 0;
	text-align: center;
}

div.wp-pagenavi a{
	border: 1px solid #CCC;
}
div.wp-pagenavi span.pages{
border: none;
color: #AAA;
}
ul.article{
	margin: -10px 0 0;
}

ul.article li{
	border-bottom: 1px dotted #DDD;
	padding: 10px 0;
}
ul.article h2{
	
}
ul.article li a{
	padding: 0 0 0 15px;
	display: block;
	background: url("/images/common/icn_arrow_1.gif") 0 5px no-repeat;
}
ul.article li span.date{
	color: #AAA;
	line-height: 1em;
}
div.article{
	padding: 0 0 10px;
	margin: 0 0 10px;
}
div.article span.date{
	margin: 2px 0 0;
	display: block;
	float: right;
	color: #AAA;
	line-height: 1em;
}
div.article.single span.date{
	float: none;
}
div.article.single div.h2Sec{
	margin: 0 0 17px;
	padding: 0px 0px 12px 0px;
	border: none;
	border-bottom: 2px solid #0094D9;
}


/******************************************************/
/*case    */
/******************************************************/

.case_area{
	width:640px;
	padding:0 0 50px;
	text-align:center;}
	
.case_area .case_main{
	width:620px;
	margin:0 auto 10px;}
	
.case_area .case_content{
	width:620px;
	margin:0 auto 20px;
	text-align:left;
	background:#f0e9e4;
	padding:10px 0;}
	
.case_area .case_content p{
	padding:0 10px;}
	
.case_area .case_ex td{
	width:300px;
	height:auto;
	margin-bottom:15px;
	margin-right:15px;
	float:left;
	text-align:center;}

.case_area .case_ex td div.txt_box{
	margin:5px auto;
	width:250px;
	text-align:left;
	background:url("/images/common/icn_arrow_5.jpg") no-repeat 0px 4px;}
	
.case_area .case_ex td div.txt_box p{
	padding-left:12px;
	font-size:14px;}
	
/******************************************************/
/*LIST case    */
/******************************************************/
.case_list{
	width:640px;
	padding:0 0 50px;
	text-align:center;}

.case_list li{
	float:left;
	width:150px;
	height:auto;
	text-align:center;
	margin-left:10px;
	margin-bottom:10px;}	
	

.case_list li p{
	padding: 0 0 0 15px;
	display: block;
	font-size:10px;
	background: url("/images/common/icn_arrow_1.gif") 0 5px no-repeat;
}

