div#slide{
	width: 1096px;
	margin: 0 auto;
}

/**************************************************/
/*  nivo  */
/**************************************************/
div#slideWrapper { 
	margin: -10px 0 0;
	position: relative;
	height: 280px;
	overflow: hidden;
}

div#slideWrapper .nivoSlider {
	height: 280px;
	position:relative;
	background:#FFF url("loading.gif") no-repeat 50% 50%;
	overflow: hidden;
}
div#slideWrapper .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
div#slideWrapper .nivoSlider a {
	border:0;
	display:block;
}

div#slideWrapper .nivo-controlNav {
	text-align: center;
	position: absolute;
	z-index: 1000;
	margin: -60px 0 0;
	width: 100%;
}
div#slideWrapper .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url("bullets.png") no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
div#slideWrapper .nivo-controlNav a.active {
	background-position:0 -22px;
}

div#slideWrapper .nivo-directionNav a {
	display:block;
	width:50px;
	height:40px;
	background:url("arrows.png") no-repeat;
	text-indent:-9999px;
	opacity: 0.5;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
div#storySlide:hover .nivo-directionNav a { opacity: 1; }
div#slideWrapper a.nivo-nextNav {
	background-position:-54px 0;
	right:15px;
}
div#slideWrapper a.nivo-prevNav {
	left:15px;
}

div#slideWrapper .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
div#slideWrapper .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
div#slideWrapper .nivo-caption a:hover {
    color:#fff;
}

div#slideWrapper .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
div#slideWrapper .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
div#slideWrapper .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}